html, body, ul, ol { margin:0; padding:0; font-family:Arial; }ul, ol { list-style:none; }
h2.ws-images {
	color: blue;
}
.outerwraptop, .outerwrapbot { margin:0; padding:0; }
.outerwrap { width:100%; height:100%; }
.pagewrap, .footer, .header, .menu { width:950px; margin:0 auto; }
.pagewrap { min-height:600px; margin:20px auto; background-color:#fff; overflow:auto; font-size:17px; overflow: hidden;}
.pageinnerwrap { margin:0 40px; }
.header { height:140px; }
.usertopbarwrap { background:url('../images/topbar.user-bg.png') 0 0 repeat-x; height:25px; }
.admintopbarwrap { background:url('../images/topbar.admin-bg.png') 0 0 repeat-x; height:25px; }
.topbarinner { margin:auto; width:950px; padding-top:5px; }
.topbarinner span, .topbarinner a { color:white; font-size:12px; }
a.logo { background:url('../images/logo.png') 0 0 no-repeat; display:block; width:265px; height:45px; text-indent:-9999px; }
.menuwrap { height:45px; background-color:#fff; }
.content { overflow:auto; }
.footer { height:135px; }
.outerwraptop { background:url('../images/pagebg-top.png') 0 0 repeat-x; }
.footerwrap { background-color:#d8ebff; }
.headerleft, .headerright { width:50%; }
.headerleft, .footerleft { float:left; text-align:left; padding-top:50px; }
.headerright, .footerright { float:right; text-align:right; padding-top:40px; }
.footerleft { width:25%; padding-top:20px; }
.footerleft .socicon { width:37px; height:36px; display:inline-block; text-indent:-9999px; margin-right:10px; }
.footerleft .fbicon { background:url('../images/icon-fb.png') 0 0 no-repeat; }
.footerleft .rssicon { background:url('../images/icon-rss.png') 0 0 no-repeat; }
.footerleft .twicon { background:url('../images/icon-tw.png') 0 0 no-repeat; }
.footerleft .liicon { background:url('../images/icon-li.png') 0 0 no-repeat; }
.footerright { width:75%; padding-top:0; }
.footerright ul { margin: 20px 0; }
.footerright li { display:inline-block; padding:0 5px 0 1px; border-right:1px solid #345171; line-height:11px; }
.footerright li.last { border-right:none; }
.footerright li a { text-transform:uppercase; font-size:12px; color:#345171; }
.footerright span { font-size:11px; color:#909090; display:block; }
.footerright a { color:#909090; text-decoration:none; }
.footerright a:hover { text-decoration:underline; }
.footerright li {  }
.phonetext { color:#FF6D05; font-size:26px; }
.phonenum { color:#345171; font-size:30px; background:url('../images/icon-phone.png') 0 0 no-repeat; padding-left:35px; }
.menu li { text-transform:uppercase; float:left; border-right:1px solid #E9E9E9; height:45px; }
.menu li.lastitem { border-right:none; }
.menu li a { color:#345171; text-decoration:none; }
.menu li a:hover { text-decoration:underline; }
.menu li.orangemenuitem a { color:#ff6d05; }
.menu li span { padding:14px 28px 12px; display:block; font-weight:bold; }
.menu li span:hover { background:#eee; }
.menu li.lastitem span { padding:14px 24px 12px; }

.menu > ul > li > ul { display:none; background-color:#fff; overflow:auto; z-index:200; position:relative; border:1px solid #eee; border-top:0; }
.menu > ul > li:hover > ul { display:block; }
.menu > ul > li > ul > li { display:block; float:none; height:20px; text-transform:none; padding:4px 6px; }



/* Safari 3.0 and Opera 9 rules here */
/* html[xmlns*=""]:root .menu li.lastitem span  { padding:14px 24px 12px; } */
#wowslider, .noslider { margin:0; width:950px; height:400px; }
.noslider { height:360px; }
.slidershadow { height:34px; background:url('../images/sliderbottombg.png') 0 0 no-repeat; }
.getstartedbtn { background:url('../images/getstartedbtn.png') 0 0 no-repeat; width:254px; height:65px; display:block; position:relative; top:-130px; left:40px; text-indent:-9999px; z-index:11; }
.getstartedbtn:hover { background-image:url('../images/getstartedbtn-hover.png'); }
.getstartedbtnsm { background:url('../images/getstartedbtn-sm.png') 0 0 no-repeat; width:139px; height:39px; display:inline-block; text-indent:-9999px; line-height:41px; }
.getstartedbtnsm:hover { background-image:url('../images/getstartedbtn-sm-hover.png'); }
.underslider { background:url('../images/horizline.png') 0 0 repeat-y; height:62px; padding-top:2px; }
.undersliderinner { background:#fff; height:60px; vertical-align:middle; display:table-cell; width:950px; }
.undersliderinner span { font-size:22px; }
.blue1 { color:#4D81A0; }
.orange1 { color:#ff8907; }
.lmargin30 { margin-left:30px; }
.rmargin30 { margin-right:30px; }
.tmargin30 { margin-top:30px; }
.bmargin30 { margin-bottom:30px; }
.bmargin10 { margin-bottom:10px; }
.bold { font-weight:bold; }
.contentleft { width:280px; float:left; margin-top:25px; }
.contentright { width:650px; float:right; }
.contentright .righttext { margin:25px 0; }
.contentright .righttext h2 { color:#345171; font-size:24px; margin:0 0 10px; }
.contentright .righttext span { color:#333; font-size:12px; display:block; margin-bottom:15px; text-align:justify; }
.contentright .imgleft { float:left; margin-right:30px; }
.contentright .imgright { float:right; margin-left:30px; }
.contentleft .lefttext { border:1px solid #ccc; border-radius:10px; padding:10px 15px; margin-bottom:15px; }
.contentleft .lefttext img { float:left; margin-right:10px; }
.contentleft .lefttext h2 { color:#345171; margin:0; font-size:16px; min-height:43px; }
.contentleft .lefttext span { color:#4d81a0; font-size:12px; display:block; margin:6px 0; }
.contentleft .lefttext a, .infoboxes a, .bluendlink { color:#345171; font-size:12px; text-decoration:none; }
.contentleft .lefttext a:hover, .infoboxes a:hover, .bluendlink:hover { text-decoration:underline; }


/* global classes */
.umessage { width:906px; margin:20px auto 0; font-size:12px; text-transform:uppercase; padding:8px 0 7px 44px; color:#444; font-weight:bold; }
.umessage.warning { border:2px solid #F7BA02; border-width:2px 0; background:#F4F97D url('../images/icon-warning.png') 10px 4px no-repeat;; }
.umessage.notice { border:2px solid #036; border-width:2px 0; background:#ADD8E6 url('../images/icon-info.png') 10px 4px no-repeat; }
.umessage.error { border:2px solid #D40000; border-width:2px 0; background:#FFB6C1 url('../images/icon-error.png') 10px 4px no-repeat;; }
.umessage.success { border:2px solid #037F00; border-width:2px 0; background:#90EE90 url('../images/icon-success.png') 10px 4px no-repeat;; }
.errorinputfield { background:url('../images/icon-errorfield.gif') 0 0 no-repeat; height:20px; width:20px; display:inline-block !important; margin-top:3px !important; vertical-align:top; }
.redborder { border:1px solid red; border-color:red !important; padding:2px 1px; }
.bgddd { background-color:#ddd !important; }
.bgeee { background-color:#eee !important; }
.bgyellow { background-color:#feed77 !important; }
.bgred { background-color:#c12525 !important; }
.bgdarkblue { background-color:#42405F !important; }
.bgorange  { background-color:#F37E00 !important; color:#fff !important; }
.bgorange  a { color:#fff !important; }
.bgdblue { background-color:#345171 !important; }
.deact, .deact a { background-color:#B6B6B6; color:#666; }
input.readonly { background:#EEE; border:1px solid #aaa; padding:2px 1px; }

.formwrap span { display:block; margin:3px 0; }
.formwrap > form > span { min-height:26px; }
.formwrap > form > div.inlineblock > span { min-height:26px; }
.formwrap > form > div.inlineblock > span > span.inlineblock { padding-top:3px; }


.formwrap span.mandstar { color:red; display:inline; margin-left:3px; }
.formwrap select { margin-right:2px; padding:1px; width:153px; }
@-moz-document url-prefix() { .formwrap select { margin-right:2px; padding:1px; width:141px; } }

.signup_sub_heading { height:38px; font-size:14px; font-weight:bold; color:#6B6F6B; width:903px; margin:20px auto; }
.signup_sub_heading div span { margin-top:11px; display:block; text-align:center; color:#707F90; }
.signup_sub_heading div { height:38px; width:220px; float:left; margin-right:5px; border:1px solid #ccc;
	background:#e9eaec; /* Old browsers */
	background:-moz-linear-gradient(top, #e9eaec 0%, #e9eaec 50%, #e0e1e2 50%, #e0e1e2 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9eaec), color-stop(50%,#e9eaec), color-stop(50%,#e0e1e2), color-stop(100%,#e0e1e2)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #e9eaec 0%,#e9eaec 50%,#e0e1e2 50%,#e0e1e2 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #e9eaec 0%,#e9eaec 50%,#e0e1e2 50%,#e0e1e2 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, #e9eaec 0%,#e9eaec 50%,#e0e1e2 50%,#e0e1e2 100%); /* IE10+ */
	background:linear-gradient(to bottom, #e9eaec 0%,#e9eaec 50%,#e0e1e2 50%,#e0e1e2 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9eaec', endColorstr='#e0e1e2',GradientType=0 ); /* IE6-9 */
}
.signup_sub_heading div.active { background:#ECF3F7; }
.signup_sub_heading div.ssh4 { margin-right:0; }
.signup_sub_heading div.ssh4 span { color:#6a9738; }

.contentheader { margin-bottom:5px; display:block; font-size:14px; font-weight:bold; color: #5F8BA7; text-transform:uppercase; padding:0; margin-top:30px; }
.disclaimer { font-size:12px; color:#777; width:330px; text-align:justify; margin-top:10px; }
label { width:127px; display:inline-block; font-size:14px; color:#5F635F; padding-top:5px; vertical-align:top; }
.narrow label { width:75px; }
.midnarrow label { width:95px; }
select { width:153px; margin-left:2px; padding:1px 0; }
.resetfontsize { font-size:100% !important; }
.suform input { height:22px; border:1px solid #BCBCBC; font-size:15px; font-weight:normal; padding-left:3px; }
.formrow { margin:6px auto; }
.suform select { border:1px solid #BCBCBC; width:179px; margin-left:2px; height:26px; font-size:15px; margin-right:2px; }
.continue_btn .submit_button { background:url('../images/btnbg-h60.png') 0 0 repeat-x; width:330px; height:55px; border:1px solid #666; color:white; font-size:24px; font-weight:bold; border-radius:5px; cursor:pointer; text-transform:uppercase; margin-top:10px; }
.continue_btn .submit_button:hover { background-image:url('../images/btnbg-h60-hover.png'); }
.continue_btn .submit_button_med { background:url('../images/btnbg-h45.png') 0 0 repeat-x; width:230px; height:45px; border:1px solid #666; color:white; font-size:20px; font-weight:bold; border-radius:5px; cursor:pointer; text-transform:uppercase; margin-top:10px; }
.continue_btn .submit_button_med:hover { background-image:url('../images/btnbg-h45-hover.png'); }
.continue_btn .submit_button_sm { background:url('../images/btnbg-h35.png') 0 0 repeat-x; width:130px; height:35px; border:1px solid #666; color:white; font-size:18px; font-weight:bold; border-radius:5px; cursor:pointer; text-transform:uppercase; margin-top:10px; padding-top:3px; }
.continue_btn .submit_button_sm:hover { background-image:url('../images/btnbg-h35-hover.png'); }
.servicesbox { border:1px solid #dedede; padding:10px; overflow:auto; background-color:#edede9; }
.servicesbox.active { background-color:#fff; border-color:#74b0d9; }
.servicesbox .pricespan { color:#a7a7a7; }
.servicesbox.active .pricespan { color:#293f59; }
.input_service { margin:0 5px 0 0; }

.input_service_title { font-weight:bold; margin-top:4px; display:inline-block; vertical-align:top; }
.lblue { color:#5F8BA7; }
.dblue { color:#293f59; }
.midblue { color:#345171; }
.fleft { float:left; }
.clearfix { clear:both; overflow:hidden; }
.fright{ float:right; }
.lgrey { color:#a7a7a7; }
.midgrey { color:#6D736D; }
.dgrey { color:#555; }
.bold { font-weight:bold; }
.smaller { font-size:80%; }
.inlineblock { display:inline-block !important; vertical-align:top; }
.service_pluses { display:inline-block; margin:0 10px; vertical-align:top; min-width:215px; }
.service_pluses li { background:url('../images/smblarrow.png') 0 6px no-repeat; padding-left:10px; }
.service_pluses span { font-size:80%; color:#6d736d; }

.summarybox { float:right; display:block; background-color:#E4EDF3; padding:10px 15px; }
.billingwrap { margin-top:10px; }
.tabnames { }
.tabnames .tabnamewrap { margin:0; padding:10px 29px; display:inline-block; border:1px solid #ccc; border-bottom:0; }
.tabnames .disabled { background:#eee; display:inline-block; cursor:pointer; }
.tabnames .disabled span { color:#555; }
.autowidth { width:auto !important; }

.billingwrap .cctypewrap { display:inline-block; border:1px solid #c9c9c9; background-color:#EDEDE9; }
.billingwrap .cctypewrap.active { border-color:#74b0d9; background-color:#FFF; }
.cctypewrap span { width:58px; height:37px; display:inline-block; margin:1px 1px -3px -6px; }
.cctypewrap .visaiconwrap { background:url('../images/icon-visa.png') 0 0 no-repeat; }
.cctypewrap .mciconwrap { background:url('../images/icon-mc.png') 0 0 no-repeat; }
.cctypewrap .aeiconwrap { background:url('../images/icon-ae.png') 0 0 no-repeat; }
.cctypewrap .disciconwrap { background:url('../images/icon-disc.png') 0 0 no-repeat; }
.billingwrap .cctypewrap input { vertical-align:top; margin:8px 2px 0 1px; }
.billingwrap .tabcontentwrap { display:inline-block; border:1px solid #CCC; padding:10px 0; width:380px; }
.billingwrap .tabcontent { margin:0 auto; width:340px; height:370px; }
.allupper { text-transform:uppercase; }
.nopad { padding:0; }
.nomargin { margin:0 !important; }
.mtop10 { margin-top:10px; }
.mtop5 { margin-top:5px; }
.mbot5 { margin-bottom:5px; }
.mbot10 { margin-bottom:10px; }
.mtop20 { margin-top:20px; }
.mleft10 { margin-left:10px !important; }
.mleft5 { margin-left:5px !important; }
.mleft20 { margin-left:20px; }
.mright10 { margin-right:10px; }
.mright20 { margin-right:20px; }
.mbot20 { margin-bottom:20px; }

.red { color:red; }
.green { color:green; }

.pickboxwrap { width:37px; height:37px; border:1px solid #777; margin:50px; float:left; padding:5px 7px 7px 5px; cursor:pointer; }
.pickbox { border:1px solid #888; width:100%; height:100%; border-radius:2px; background-color:#EEE; }
.pickboxicon { background:url('../images/pickboxcheckicon.png') 0 0 no-repeat; width:70px; height:70px; position:absolute; margin-top:-15px; margin-left:5px; display:none; }
.scrollablewrap { float:right; font-size:80%; color: #666; width:690px; height:150px; overflow-y:scroll; border:1px solid #CCC; padding:0 10px; margin:10px 0 0; font-family:times mew roman; }

.contentleft { width:200px; float:left; margin:10px 0 0 10px; }
.contentright { width:720px; float:right; margin:10px 10px 0 0; }
.content { font-size:14px; color:#333; }
.tajust { text-align:justify; }
.tacenter { text-align:center; }

.acccontentwrap { border:1px solid #BBB; padding:10px; font-size:70%; }
.legendwrap span.legendcolor { width:26px; height:13px; border:1px solid #666; }

/* buttons */
.orangebtnleft { background:url('../images/orangebtnleft.png') 0 0 no-repeat; height:25px; display:inline-block !important; margin:0 0 0 6px !important; }
.orangebtnright { background:url('../images/orangebtnright.png') 100% 0 no-repeat; height:25px; display:inline-block !important; margin:0 !important; }
.orangebtnmid { background:url('../images/orangebtnmid.png'); height:25px; display:inline-block !important; margin:0 10px 0 6px !important; }
.orangebtnmid input { border:none; background:transparent; text-transform:uppercase; font-size:10px; color:white; padding:4px 15px 4px 10px; font-weight:bold; cursor:pointer; margin-left:-6px; margin-right:-10px; }
.bluebtnleft { background:url('../images/bluebtnleft.png') 0 0 no-repeat; height:25px; display:inline-block !important; margin:0 0 0 6px !important; }
.bluebtnright { background:url('../images/bluebtnright.png') 100% 0 no-repeat; height:25px; display:inline-block !important; margin:0 !important; }
.bluebtnmid { background:url('../images/bluebtnmid.png'); height:25px; display:inline-block !important; margin:0 10px 0 6px !important; }
.bluebtnmid input { border:none; background:transparent; text-transform:uppercase; font-size:10px; color:white; padding:4px 15px 4px 10px; font-weight:bold; cursor:pointer; margin-left:-6px; margin-right:-10px; outline:none; }
.redbtnleft { background:url('../images/redbtnleft.png') 0 0 no-repeat; height:25px; display:inline-block !important; margin:0 0 0 6px !important; }
.redbtnright { background:url('../images/redbtnright.png') 100% 0 no-repeat; height:25px; display:inline-block !important; margin:0 !important; }
.redbtnmid { background:url('../images/redbtnmid.png'); height:25px; display:inline-block !important; margin:0 10px 0 6px !important; }

.redbtnmid a, .orangebtnmid a { border:none; background:transparent; text-transform:uppercase; font-size:10px; color:white; padding:4px 15px 4px 10px; font-weight:bold; cursor:pointer; margin-left:-6px; margin-right:-10px; display:block; text-decoration:none; }


.inputwrap { display:inline-block; *display:block; zoom:1; min-width:160px; }

/* mozilla classes */
@-moz-document url-prefix() { .orangebtnmid input { padding:3px 15px 3px 10px; } }


/* left menu */
.leftboxheader { text-transform:uppercase; background-color:#40576E; font-size:11px; color:#fff; padding:6px 5px 5px 10px; letter-spacing:1px; border-top-left-radius:6px; border-top-right-radius:6px; }
.leftmenuwrap ul, .leftmenuwrap .simplelist { list-style-position:inside; padding:0 5px; margin:0 0 15px 0; text-shadow:0 1px 1px white; line-height:16px; background-color:#ECF5FF; border:1px solid #C1C1B1; }
.leftmenuwrap ul li ul { display:none; margin:0 0 0 15px; border:none; padding:0 0 5px 0; }
.leftmenuwrap ul li.active ul { display:block; }
.leftmenuwrap ul li.active ul li ul { display:none; }
.leftmenuwrap ul li.active ul li.active ul { display:block; }
.leftmenuwrap ul li { border-top:solid 1px #C1C1B1; padding:0; display:block; overflow:auto; }
.leftmenuwrap ul li.first { border:none; }
.leftmenuwrap a { text-decoration:none; }
.leftmenuwrap a:hover { text-decoration:underline; }
.leftmenuwrap ul li a, .leftmenuwrap .simplelist div { text-transform:uppercase; font-size:11px; color:#2C6295; background:url(../images/icon-orangearrow.png) no-repeat 5px 5px; padding:0 0 0 14px; line-height:16px; margin:0.75em 0 0.75em 0; display:block; }
.leftmenuwrap .simplelist div { background:none; border-bottom:1px dotted #999; padding:0; margin:0.75em 10px; color:#333; text-transform:none; }
.leftmenuwrap ul li.parent > a { background:url(../images/icon-orangeplus.png) no-repeat 5px 5px; }
.leftmenuwrap ul li.active > a { color:#F07E00; }
.leftmenuwrap ul li.parent.active > a { background:url(../images/icon-orangeminus.png) no-repeat 5px 5px; }
.leftmenuwrap ul li.active ul li.active > a { font-weight:bold; color:#666; }
.leftmenuwrap ul li ul li { border:none; }
.leftmenuwrap ul li ul li a { margin:0; color:#666; text-transform:none; }

.tableview { border:1px solid #777; display:table; border-width:1px 0 0 1px; width:100%; }
.pageinnerwrap .tableview { font-size:80%; }
.tableview .tblrow { display:table-row; }
.tableview span { display:table-cell; border-right:1px solid #777; border-bottom:1px solid #777; padding:3px 5px; vertical-align:middle; }
.tableview .tblheader span { font-weight:bold; }

.tableview .tblheader .sortasc { background:url('../images/arrow-up.gif') 96% 50% no-repeat; }
.tableview .tblheader .sortdesc { background:url('../images/arrow-down.gif') 96% 50% no-repeat; }

.newitemlink { background-color:#40576E; padding:1px 22px 2px 14px; border-radius:0 10px 10px 0; color:#fff; font-weight:bold; float:right; text-decoration:none; cursor:pointer; }
.termstoggle { color:#000; text-decoration:none; }
.termstoggle:hover { color:#616265; cursor:text; }


.tableview .tblrow a { color:#5b80b2; text-decoration:none; font-weight:bold; }
.tableview .tblrow.deact a { color:#666; font-weight:normal; }
.tableview .tblrow a:hover { text-decoration:underline; }
.tableview .tblrow.bgred a, .tableview .tblrow.bgred span { color:#fff; }
.tableview .tblrow.bgdarkblue a, .tableview .tblrow.bgdarkblue span { color:#fff; }

.tableview .tblheader a { color:#000; display:block; cursor:pointer; }
.tableview .tblheader.bgdblue a { color:#fff; display:block; cursor:pointer; }
.tableview .tblheader.bgdblue .sort { color:#fff; }

.resultimageswrap img { margin:0 20px 20px 0; }
.guaranteeitemswrap { padding-left:20px; }
.guaranteeitemswrap li { list-style-type:disc; }

.forminnerlink, .forminneritem { line-height:22px; margin-left:2px; color:#036; text-decoration:none; }
.forminnerlink:hover { text-decoration:underline; }

.bluelink { color:#036; }

.timeslight { color:#333; font-family:times; }

.tooltip { background:url('../images/tooltip.png') 0 0 no-repeat; width:18px; height:22px; display:inline-block; *display:block; zoom:1; vertical-align:middle; font-size:0; }

.explist { border-bottom:1px solid #ccc; }
.explist > li { border:1px solid #ccc; border-bottom:0; background-color:#eee; }
.explist > li .explititle { font-weight:bold; padding:6px; clear:both; overflow:auto; }
.explist > li .explititle:hover { cursor:pointer; background-color:#ddd; }
.explist > li .explidesc { display:none; border-top:1px solid #ddd; background-color:#fff; padding:10px; text-align:justify; }
.explist > li.collapsed > .explidesc { display:none; }
.explist > li.expanded > .explidesc { display:block; }

.custnegitem, .custnegitem tr, .custnegitem td { border-spacing:0; border-collapse:collapse; }
.custnegitem { margin-bottom:20px; }
.custnegitem td { border:1px solid #777; border-width:0 1px 1px 0; padding:5px; }
.custnegitemheader { background-color:#c7dbe4; font-size:110%; }
.custnegitemheader.lgreen { background-color:#7bc995; }
.custnegitemheader.lred { background-color:#b5e47b; }
.custnegitemheader.lyell { background-color:#ebeb93; }
.custnegitemheader td  { padding:0; }
.custnegitemwrap { font-size:120%; }
.custnegitem .experian { background-color:#b30000; color:#fff; font-weight:bold; font-size:110%; width:25%; }
.custnegitem .transunion { background-color:#000066; color:#fff; font-weight:bold; font-size:110%; width:25%; }
.custnegitem .equifax { background-color:#109065; color:#fff; font-weight:bold; font-size:110%; width:25%; }
.custnegitemstatwrap { font-size:18px; vertical-align:middle; padding-top:0 !important; }
.custnegitemstatwrap img { margin:6px 5px -3px; width:20px; }



.explisticon { float:right; margin:2px; background:url('../images/icon-expliststatus.png') 0 0 no-repeat; width:10px; height:10px; }
.collapsed > .explititle > .explisticon { background-position:0 -10px; }
.expanded > .explititle > .explisticon { background-position:0 0; }

.severity-slider { width:160px; height:10px; display:inline-block !important; margin-top:4px; border:0 !important; padding:0 !important; }
.severity-slider .ui-corner-all, .severity-slider.ui-corner-all { border-radius:0; }
.severity-slider .ui-slider-handle { height:16px; width:16px; top:-4px; text-decoration:none; border-color:#666; cursor:pointer; }
.severity-slider.ui-corner-all { background:url('../images/icons/severity-slider-bg.png') 0 0 no-repeat; }

.severity-position { color:#333; font-size:11px; text-align:center; display:block !important; margin:0 !important; border:0 !important; padding:0 !important; }
.severitysliderwrap { padding-left:8px; padding-bottom:4px; }

.crbriconwrap { display:inline-block; *display:inline; zoom:1; margin-right:10px; padding:3px; border:1px solid #888; }
.crbriconwrap a { text-decoration:none; }
.crbriconwrap span { font-size:13px; display:block; color:#036; text-align:center; border-top:1px solid #036; background-color:#eee; font-weight:bold; }

.tableview .tblrow.toggleablerow { display:none; }

.credscore { margin-bottom:10px; text-align:right; font-size:20px; color:#036; }
.credscore span { font-weight:bold; }

.nobobo { border-bottom:0 !important; }
.nobori { border-right:0 !important; }

.hidden { display:none !important; }
.taright { text-align:right; }
.taleft { text-align:left; }

.infoboxes { padding-bottom:5px; }
.infoboxes div { width:270px; height:127px; border:1px solid #ccc; border-radius:10px; padding:10px 15px; margin:5px 5px 15px; }
.infoboxes span { color:#4d81a0; font-size:12px; display:block; margin:6px 0; }
.infoboxes h2, .infoboxes h2 span { color:#345171; margin:0; font-size:16px; min-height:43px; line-height:43px; }
.infoboxes h2 span { line-height:22px; }
.infoboxes img { float:left; margin-right:10px; }
.infoboxesbot h2 { color:#345171; margin-top:0; font-family:"Trebuchet MS",Arial,sans-serif; font-size:24px; font-weight:normal; }
.infoboxesbot div.inlineblock { width:450px; margin:10px; }
.infoboxesbot img { width:130px; float:left; margin-right:10px; }
.infoboxesbot img.imgright { float:right; margin-right:10px; width:200px; }
.infoboxesbot span { display:block; font-size:14px; }
.infoboxesbot .ibright ul { float:right; }
.infoboxesbot .ibright ul li { width:250px; background:url('../images/icons/icon.checkbox.jpg') 0 4px no-repeat; padding-left:32px; }

.infoboxestitle { color:#345171; margin-top:0; font-family:"Trebuchet MS",Arial,sans-serif; font-size:26px; font-weight:normal; margin:18px 0 16px; padding:0 20px 0 5px; }

.infoboxesbot li a { color:#15A1B1; text-decoration:underline; }
.infoboxesbot li { width:230px; font-size:13px; float:left; clear:left; margin-bottom:15px; color:#595959; }

.eventdatewrap { margin:-10px 0 10px; font-size:14px; color:#555; }
.bluelink { background-color:#4C5E73; color:#fff; padding:4px 10px 5px; text-decoration:none; text-transform:uppercase; font-size:10px; font-weight:bold; border-radius:5px; display:inline-block; *display:inline; zoom:1; }

div.time-picker {
  position: absolute;
  height: 191px;
  width:4em; /* needed for IE */
  overflow: auto;
  background: #fff;
  border: 1px solid #aaa;
  z-index: 99;
  margin: 0;
}
div.time-picker-12hours {
  width:6em; /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li { cursor:pointer; height:10px; font:12px/1 Helvetica, Arial, sans-serif; padding:4px 3px; }
div.time-picker li.selected { background:#0063CE; color:#fff; }

.suform input.promocodeapplybtn { background-color:#40576E; padding:0px 14px; color:#fff; font-weight:bold; text-transform:uppercase; cursor:pointer; font-size:10px; vertical-align:top; border:0; }
.suform input.promocodeinputfield { width:90px; height:18px; color:#5F635F; }

.ws_images, .noslider > div { background:url('../images/sliderbg.jpg') 0 0 repeat-x; }
#wowslider h2, .noslider h2 { font-size:42px; color:#35506d; font-family:'Open Sans', sans-serif; font-weight:600; line-height:47px; margin:0 0 24px; width:370px; }
#wowslider span, .noslider span { color:#517f99; font-size:22px; line-height:32px; }
.ws_images .fleft { margin:32px 0 0 32px; width:400px; }
.noslider .fleft { margin:0; width:530px; }
.ws_images .fright, .noslider .fright { margin:11px 10px 0 0; }

.bxsliderwrap.small { width:530px; height:360px; }
.bxsliderwrap.small li { color:#ff6d05; font-size:36px; height:330px; text-align:center; line-height:150%; }
.bx-wrapper .bx-viewport { box-shadow:none; border:none; padding:0; margin:0; }
.bx-wrapper .bx-viewport { background:transparent; }

.bx-wrapper { margin-bottom:0; }
.bx-wrapper .bx-pager { bottom:-20px; padding:0; }
.bx-wrapper .bx-pager.bx-default-pager a { background:#EEA571; }
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background:#ff6d05; }
.bx-wrapper .bx-caption span { font-size:.5em; }


.ttl-topwrap { padding:15px; overflow:hidden; border-top:1px solid #333; }

.ttlpicks { width:520px; border-right:1px solid #333; height:180px; }
.ttlpicks li { padding:0 0 20px 35px; background:url('../images/pick-icon-h20.png') 0 0 no-repeat; }
.ttlpicks li span { line-height:70%; color:#333; font-family:Tahoma, Geneva, sans-serif; font-size:14px; display:block; }
.ttlpicks li span.subj { font-weight:bold; padding:0 0 7px; }

.noslider label span { line-height:100%; color:#D61313; font-size:14px; }

.secphone { display:block; font-size:22px; color:#036; }

.miduls { text-align:center; padding-bottom:20px; border-bottom:1px solid #ccc; }
.miduls ul { max-width:400px; text-align:left; }
.miduls ul li { color:#333; font-family:Tahoma, Geneva, sans-serif; font-size:14px; padding-left:24px; background:url('../images/icon-checkbox-square.png') 0 8% no-repeat; }
.midulstitle { border-bottom:3px double; color:#ff6d05; font-size:22px; font-weight:bold; text-transform:uppercase; }
.midulstitlewrap { text-align:center; }

.pagelabel { font-size:13px; }
.paginationwrap { text-align:right; padding:10px 0 0; }
.paginationdescr { padding:6px 6px 0 0; font-size:13px; display:block; }
.pagination_page { display:inline-block; *display:inline; zoom:1; margin:-1px 10px 0 0; font-size:12px; }
.pagination { display:inline-block; *display:inline; zoom:1; }
.pagination ul { list-style:none; margin:0; padding:0; }
.pagination li { display:inline-block; *display:inline; zoom:1; }
.pagination a, .pagination .pagincurr, .pagination .paginspacer { display:block; background-color:#4385B9; color:#fff; padding:3px 5px 2px 4px; margin:0 3px; }
.pagination a, .pagination .pagincurr, .pagination .paginspacer { font-size:12px; line-height:12px; text-decoration:none; }
.pagination .pagincurr { background-color:#2269A0; }
.pagination .paginspacer { background-color:#fff; color:#333; margin:0; }

.servslider { text-align:center; }
.servslider_outerround { display:inline-block; *display:block; zoom:1; cursor:pointer; opacity:0.4; padding:20px; background-color:#FFC252; border-radius:150px;   position:relative; z-index:0; }
.servslider_innerround { background-color:#8AC0F8; width:180px; height:180px; border-radius:120px; border:1px solid #fff; text-align:center; color:#fff; display:table-cell; vertical-align:middle; }
.servslider_innerround span { display:block; }
.servslheader { font-size:70px; }
.servsltitle { font-size:22px; text-transform:uppercase; }

.idx1 .servslider_innerround { background-color:#FF6D05; }
.idx3 .servslider_innerround { background-color:#345171; }

.servslider_outerround.active { opacity:1; z-index:1; }

.idx2.servslider_outerround { background-color:#C7E1FC; }
.idx3.servslider_outerround { background-color:#6381A2; }
.idx2.servslider_outerround, .idx3.servslider_outerround { margin-left:-60px; }

.servsliderdescr { padding-top:20px; }
.servsliderdescr > div { display:none; border:1px solid #ccc; padding:20px; background-color:#f7f7f7; color:#3e7191; font-size:14px; text-align:justify; border-radius:8px; font-family:"Trebuchet MS",Arial,sans-serif; }
.servsliderdescr > div a { color:#036; text-decoration:none; }
.servsliderdescr > div a:hover { text-decoration:underline; }
.servsliderdescr > div.active { display:block; }

.servsliderdescr > div.active:before { content:''; display:block; width:70px; height:20px; background:url('../images/arrow-up.png') 0 0 no-repeat; position:absolute; margin-top:-40px; margin-left:215px; }
.servsliderdescr > div.idx2.active:before { margin-left:378px; }
.servsliderdescr > div.idx3.active:before { margin-left:545px; }

.accordeonwrap { background-color:#f7f7f7; padding:0 10px; margin-bottom:5px; overflow:auto; border-radius:8px; border:1px solid #ccc; }
.accordeontrigger { cursor:pointer; }
.accordeonhidden { display:none; }
.accordeonwrap p { overflow:hidden; }

.reviewsform input[type="text"], .reviewsform textarea { background-color:#f7f7f7; border:1px solid #ccc; padding:6px 4px; min-width:200px; color:#666; font-size:15px; line-height:20px; font-family:Tahoma, Geneva, sans-serif; }
.reviewsform textarea { min-width:400px; min-height:120px; padding:4px; }
.reviewsform input[type="submit"] { padding:5px 18px; font-family:Tahoma, Geneva, sans-serif; cursor:pointer; }

.vamid { vertical-align:middle; }

.reviewswrap { background-color:#f7f7f7; padding:8px 16px; border:1px solid #ccc; border-radius:5px; }
.reviewwrap { border-top:1px solid #fff; border-bottom:1px solid #ccc; padding:8px 0; }
.reviewwrap:first-child { border-top:0; }
.reviewwrap:last-child { border-bottom:0; }

.reviewwrap span { display:block; }
.reviewwrap span.review { font-size:14px; font-style:italic; padding-top:6px; color:#444; text-align:justify; }
.reviewwrap span.reviewer { text-align:right; font-size:14px; font-weight:bold; color:#2B88A0; }

.userreviews span.prevpage,
.userreviews span.nextpage { display:inline-block; *display:inline; zoom:1; width:25px; height:26px; background:url('../images/icon-reviews-prevpage.png') 0 0 no-repeat; cursor:pointer; }
.userreviews span.nextpage { margin-left:6px; background:url('../images/icon-reviews-nextpage.png') 0 0 no-repeat; }
.userreviews .pagingwrap { text-align:right; }

.reviewspage { display:none; }
.reviewspage.active { display:block; }

.managernoteswrap { display:none; position:fixed; width:100%; height:100%; left:0; top:0; background:rgba(0,0,0, 0.4); }
.managernotes { position:absolute; width:700px; min-height:200px; top:50%; left:50%; margin-top:-100px; margin-left:-350px; background-color:#eee; border:8px solid #444; border-radius:10px; }
.managernotes ul { margin:20px; font-size:14px; }
.managernotes ul a { color:#036; text-decoration:none; }
.managernotes ul a:hover { text-decoration:underline; }
.managernotes .closeoverlay { position:absolute; right:7px; top:6px; border:1px solid #333; color:#333; border-radius:10px; padding:0px 4px; text-transform:uppercase; font-size:12px; cursor:pointer; }